<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>

  <swiper [slidesPerView]="'auto'" class="shortcut-swiper-1">
    <ng-template swiperSlide *ngFor="let card of cards">
      <ion-button class="payment-card-container" color="white" (click)="viewCard()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
            <ion-card-subtitle class="ion-text-left">
              {{ card.amount }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ card.details }}
          </ion-card-content>
        </ion-card>
      </ion-button>
    </ng-template>
  </swiper>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <swiper [slidesPerView]="'auto'" class="shortcut-swiper-2">
      <ng-template swiperSlide *ngFor="let header of headers">
        <ion-button>
          <div class="icon-container">
            <ion-icon name="{{ header.logo }}"></ion-icon>
          </div>
          <ion-text>
            {{ header.name }}
          </ion-text>
        </ion-button>
      </ng-template>
    </swiper>

    <ion-item>
      This is blank space
    </ion-item>
  </ion-list>

</ion-content>
